In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
import pandas as pd 
penguins = pd.read_csv('datasets\\penguins.csv')

In [3]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [4]:
penguins.info

<bound method DataFrame.info of      rowid    species     island  bill_length_mm  bill_depth_mm  \
0        1     Adelie  Torgersen            39.1           18.7
1        2     Adelie  Torgersen            39.5           17.4
2        3     Adelie  Torgersen            40.3           18.0
3        4     Adelie  Torgersen             NaN            NaN
4        5     Adelie  Torgersen            36.7           19.3
..     ...        ...        ...             ...            ...
339    340  Chinstrap      Dream            55.8           19.8
340    341  Chinstrap      Dream            43.5           18.1
341    342  Chinstrap      Dream            49.6           18.2
342    343  Chinstrap      Dream            50.8           19.0
343    344  Chinstrap      Dream            50.2           18.7

     flipper_length_mm  body_mass_g     sex  year
0                181.0       3750.0    male  2007
1                186.0       3800.0  female  2007
2                195.0       3250.0  female  2007
3                  NaN          NaN     NaN  2007
4                193.0       3450.0  female  2007
..                 ...          ...     ...   ...
339              207.0       4000.0    male  2009
340              202.0       3400.0  female  2009
341              193.0       3775.0    male  2009
342              210.0       4100.0    male  2009
343              198.0       3775.0  female  2009

[344 rows x 9 columns]>

In [5]:
penguins.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [6]:
penguins.dtypes

rowid                  int64
species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
year                   int64
dtype: object

In [7]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [8]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

<h1> Does the penguins specie 'Adelie' lives exclusively on an Island?</h1>

<h1> Insight No.1 Penguins does not live exclusively on Island

In [9]:
penguins['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [10]:
penguins[penguins['species'] == 'Adelie']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [11]:
penguins['island'] == 'Biscoe'

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: island, Length: 344, dtype: bool

In [12]:
penguins[penguins['island'] == 'Biscoe']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
20,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007
21,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male,2007
22,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007
23,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male,2007
24,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male,2007
...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,273,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,274,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,275,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,276,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [13]:
penguins[(penguins['species'] == 'Adelie')]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [14]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')].count()

rowid                44
species              44
island               44
bill_length_mm       44
bill_depth_mm        44
flipper_length_mm    44
body_mass_g          44
sex                  44
year                 44
dtype: int64

In [15]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream')].count()

rowid                56
species              56
island               56
bill_length_mm       56
bill_depth_mm        56
flipper_length_mm    56
body_mass_g          56
sex                  55
year                 56
dtype: int64

In [16]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Torgersen')].count()

rowid                52
species              52
island               52
bill_length_mm       51
bill_depth_mm        51
flipper_length_mm    51
body_mass_g          51
sex                  47
year                 52
dtype: int64

In [17]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')].count()

rowid                124
species              124
island               124
bill_length_mm       123
bill_depth_mm        123
flipper_length_mm    123
body_mass_g          123
sex                  119
year                 124
dtype: int64

In [18]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Dream')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [19]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torgersen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [20]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Biscoe')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [21]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')].count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
dtype: int64

In [22]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Torgersen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [23]:
adelie_biscoe = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')]

In [24]:
adelie_biscoe['body_mass_g'].mean()

np.float64(3709.659090909091)

In [25]:
np.round(adelie_biscoe['body_mass_g'].mean() , 1)

np.float64(3709.7)

In [26]:
gentoo_biscoe = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')]

In [27]:
gentoo_biscoe['body_mass_g'].mean()

np.float64(5076.016260162602)

In [28]:
np.round(gentoo_biscoe['body_mass_g'].mean() , 1)

np.float64(5076.0)

In [29]:
chinstrap_biscoe = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Biscoe')]

In [30]:
chinstrap_biscoe['body_mass_g'].mean()

nan

In [31]:
np.round(chinstrap_biscoe['body_mass_g'].mean() , 1)

np.float64(nan)

In [32]:
penguins['body_mass_g']

0      3750.0
1      3800.0
2      3250.0
3         NaN
4      3450.0
        ...
339    4000.0
340    3400.0
341    3775.0
342    4100.0
343    3775.0
Name: body_mass_g, Length: 344, dtype: float64

In [33]:
penguins['wkilo'] = np.round(penguins['body_mass_g']/1000, 1)

In [34]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

In [35]:
adelie_dream = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream')]

In [36]:
adelie_dream['wkilo'].mean()

np.float64(3.6910714285714286)

In [37]:
np.round(adelie_dream['wkilo'].mean(), 1)

np.float64(3.7)

In [38]:
adelie_chinstrap = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Torgersen')]

In [39]:
adelie_chinstrap['wkilo'].mean()

np.float64(3.7019607843137257)

In [40]:
np.round(adelie_chinstrap['wkilo'].mean(), 1)

np.float64(3.7)

In [41]:
adelie_biscoe = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')]

In [42]:
adelie_biscoe['wkilo'].mean()

np.float64(3.715909090909091)

In [43]:
np.round(adelie_biscoe['wkilo'].mean(), 1)

np.float64(3.7)

In [44]:
penguins_agg = penguins.groupby(["species", "island", "sex"]).count()

In [45]:
penguins_agg

                            rowid  bill_length_mm  bill_depth_mm  \
species   island    sex
Adelie    Biscoe    female     22              22             22
                    male       22              22             22
          Dream     female     27              27             27
                    male       28              28             28
          Torgersen female     24              24             24
                    male       23              23             23
Chinstrap Dream     female     34              34             34
                    male       34              34             34
Gentoo    Biscoe    female     58              58             58
                    male       61              61             61

                            flipper_length_mm  body_mass_g  year  wkilo
species   island    sex
Adelie    Biscoe    female                 22           22    22     22
                    male                   22           22    22     22
          Dream     female                 27           27    27     27
                    male                   28           28    28     28
          Torgersen female                 24           24    24     24
                    male                   23           23    23     23
Chinstrap Dream     female                 34           34    34     34
                    male                   34           34    34     34
Gentoo    Biscoe    female                 58           58    58     58
                    male                   61           61    61     61

In [46]:
gentoo_biscoe = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')]

In [47]:
gentoo_biscoe['wkilo'].mean()

np.float64(5.076422764227642)

In [48]:
np.round(adelie_biscoe['wkilo'].mean(), 1)

np.float64(3.7)

In [49]:
gentoo_dream = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Dream')]

In [50]:
gentoo_dream['wkilo'].mean()

nan

In [51]:
gentoo_torgersen = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torgersen')]

In [52]:
gentoo_torgersen['wkilo'].mean()

nan

In [53]:
chinstrap_biscoe =  penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Biscoe')]

In [54]:
chinstrap_biscoe['wkilo'].mean()

nan

In [55]:
chinstrap_dream =  penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')]

In [56]:
chinstrap_dream['wkilo'].mean()

np.float64(3.730882352941177)

In [57]:
np.round(chinstrap_dream['wkilo'].mean(), 1)

np.float64(3.7)

In [58]:
chinstrap_torgersen =  penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Torgersen')]

In [59]:
chinstrap_torgersen['wkilo'].mean()

nan

In [60]:
penguins_adelie = penguins.groupby(['species', 'year', 'sex']).size()

In [61]:
penguins_adelie

species    year  sex
Adelie     2007  female    22
                 male      22
           2008  female    25
                 male      25
           2009  female    26
                 male      26
Chinstrap  2007  female    13
                 male      13
           2008  female     9
                 male       9
           2009  female    12
                 male      12
Gentoo     2007  female    16
                 male      17
           2008  female    22
                 male      23
           2009  female    20
                 male      21
dtype: int64

In [62]:
penguins_adelie.unstack()

sex             female  male
species   year
Adelie    2007      22    22
          2008      25    25
          2009      26    26
Chinstrap 2007      13    13
          2008       9     9
          2009      12    12
Gentoo    2007      16    17
          2008      22    23
          2009      20    21

<h1>Insight No.8 </h1>
<h3>The Highest number of male adelie penguins recorded was in year 2007</h3>

<h1>How to use groupby function<h1>
<ul>
<li>name of the group variable</li>
<li>call the reference</li>
<li>columns to combine</li>
<li>aggregate function</li>
</ul>

<h1>Question Number 9</h1>

In [63]:
weight_sex = penguins.groupby(['species', 'sex', 'wkilo']).size()

In [64]:
weight_sex

species  sex     wkilo
Adelie   female  2.8       2
                 2.9       4
                 3.0       6
                 3.1       2
                 3.2      12
                          ..
Gentoo   male    5.6      11
                 5.7       5
                 5.8       6
                 6.0       5
                 6.3       1
Length: 80, dtype: int64

In [65]:
weight_sex = np.round(penguins.groupby(['species', 'sex'])['wkilo'].mean(), 1)

In [66]:
weight_sex

species    sex
Adelie     female    3.4
           male      4.0
Chinstrap  female    3.5
           male      3.9
Gentoo     female    4.7
           male      5.5
Name: wkilo, dtype: float64

In [67]:
weight_sex.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.5

<h2>Question No.10</h2>
<h1>What year has the highest recorded weight for male and female</h1>

In [68]:
weight_sex = np.round(penguins.groupby(['species', 'sex', 'year'])['wkilo'].mean(), 1)

In [69]:
weight_sex.unstack()

year              2007  2008  2009
species   sex
Adelie    female   3.4   3.4   3.3
          male     4.0   4.1   4.0
Chinstrap female   3.6   3.5   3.5
          male     3.8   4.1   3.9
Gentoo    female   4.6   4.6   4.8
          male     5.5   5.4   5.5

<h2>Question No.11</h1>
<h1>Correlation between bill length and bill depth</h1>

<h2>P VALUE in STATISTICS

<h1>Anything above .5 means the two values has a string correlation</h1>
<h1>Anything less than .5 meaning less or no correlation</h1>

<h2>Requirements for Correlation</h2>

<ul>
    <li>Naming the Variable</li>
    <li>First Column to test</li>
    <li>.corr Function</li>
    <li>Second Column to Test</li>
</ul>

<h2>Statistical Treatment<h2>

<h2>Pandas Default - Pearson R Correlation</h2>

<h1>Used for measuring correlation between quantitative data</h1>

<h1>There is no Correlation between bill lenght and bill depth</h1>

In [70]:
b_length = penguins['bill_length_mm'].corr(penguins['bill_depth_mm'])

In [71]:
b_length

np.float64(-0.23505287035553257)

<h1>Insight 12<h1>
<h2>There is correlation between bill length and flipper length</h2>

<h1>Correlation between bill length and fliiper length</h1>

In [72]:
b_flipper = penguins['bill_length_mm'].corr(penguins['flipper_length_mm'])

In [73]:
b_flipper

np.float64(0.6561813407464278)

<h1>Insight 13</h1>
<h2>There is Correlation between flipper lenght and body mass</h2>

<h1>Correlation between flipper lenght and body mass</h1>

In [74]:
b_body = penguins['flipper_length_mm'].corr(penguins['body_mass_g'])

In [75]:
b_body

np.float64(0.8712017673060113)

<h1>Insight 14</h1>
<h2>There is no Correlation between bill depth and body mass</h2>

<h1>Correlation between bill depth and body mass</h1>

In [76]:
b_body_d = penguins['bill_depth_mm'].corr(penguins['body_mass_g'])

In [77]:
b_body_d

np.float64(-0.47191562118606645)

<h1>Use of One Way Anova</h1>

In [12]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\lab4-studentpc29\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc29\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scipy) (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC29\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [13]:
from scipy.stats import f_oneway

<h1>Testing Correlation between body mass and sex</h1>

In [14]:
#(penguins[penguins['sex'] == 'male']['body_mass_g'],
#penguins[penguins['sex'] == 'female']['body_mass_g'])

In [15]:
f_stats, p_value = f_oneway(penguins[penguins['sex'] == 'male']['body_mass_g'], penguins[penguins['sex'] == 'female']['body_mass_g'])
p_value

NameError: name 'penguins' is not defined